body{
    background-image: url("../photos/b.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#currentorders{
    width: 20em;
    height: 20em;
    background-color: white;
    opacity: 0.7;
}

